<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
<div *ngFor="let application of applications" class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{application.appName}}</h3>
    </div>
    <div class="panel-body">

      <div class="hovereffect">
        <a [routerLink]="['/apps', application.appId]">
          <img class="img-responsive" src="{{application.thumbnailUrl}}" alt="">
          <div class="overlay">
            <div class="rotate">
              <p class="group1">
                <a [routerLink]="['/apps', application.appId]">
                  <i class="fa fa-eye"> Click</i>
                </a>
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>