<div *ngIf="application">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{application.appName}}</h3>
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="{{application.thumbnailUrl}}" alt="">
            </div>
        </div>
    </div>
</div>

<div class="col-md-4 col-md-offset-4">
    <img src="https://i.stack.imgur.com/fABGY.png" alt="">
</div>

<a href="https://poratalks.info/apps/1/a/?code=AQBTlEy-zAqwgjIzV-CLtJ_anDl4CRaJc8Yd0yxDou_J6gLOsVuHY5oPK33I0mZzji9JBLuT7vOGEAJ5GzUg77AXa3_QMwAS7v3qCreh-XhFxoc8YBWL2hCozptANvmrgxMJcUFxVu6UQO1EahlZMJ2_dK8f5QgqE9pvIAJhhxEnigVRnead-ugNxn9GRChF_Q72hRCQP89dB8CemTK8jXLkmMa3sBf_pzk9SHXP969hM_Ra3BSturDJzf-o5Z8js--PREH5--1YudbOgbEV3YuURn6aBphL0mS8zjOZUX2eK8aE58eD9FSNumHgiFHvcITMdDhimxmjNgy75pFYicBF&state=3e0333aa726ea8926d9aef187bb5a5d0#_=_"></a>

<a href="https://www.facebook.com/sharer.php?u=https://poratalks.info/apps/1/a/?id=1251903438203943"></a>

<a href="http://www.facebook.com/sharer.php?u=https://poratalks.info/apps/1/a/?id=1251903438203943"></a>